pbr>=0.6,!=0.7,<1.0
babel>=1.0
eventlet>=0.13.0
pastedeploy>=1.5.0
Routes>=1.12.3,!=2.0
iso8601>=0.1.9
prettytable>=0.7.2
paramiko>=1.9.0
#stevedore>=1.3.0,<1.4.0
#urllib3>=1.7.1
#recordtype>=1.1
#urlparse2>=1.1.1
six>=1.5.2
oslo.config>=1.2.0
taskflow>=0.1.3,<0.3
pydm>=0.3.3
flashcachegroup>=0.6.7
#oslo.concurrency>=1.8.0,<1.9.0
