pbr>=0.8.0,<1.0
babel>=1.0
eventlet>=0.13.0
pastedeploy>=1.5.0
routes>=1.13
iso8601>=0.1.9
prettytable>=0.7.2
paramiko>=1.10.0
stevedore>=0.15
urllib3>=1.8
recordtype>=1.1
urlparse2>=1.1.1
six>=1.6.1
oslo.config>=1.2.0
pydm>=0.3.3
flashcachegroup>=0.6.7
